<tr class="user-additional-info">
    <td colspan="4">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2 info-cell">
                    <h5>Firstname</h5>
                    <div class="row-fluid"><%= firstname %></div>
                </div>
                <div class="span2 info-cell">
                    <h5>Lastname</h5>
                    <div class="row-fluid"><%= lastname %></div>
                </div>
                <div class="span2 info-cell">
                    <h5>Middlename</h5>
                    <div class="row-fluid"><%= middlename %></div>
                </div>
                <div class="span2 info-cell">
                    <h5>Organization</h5>
                    <div class="row-fluid"><%= organization %></div>
                </div>
                <div class="span2 info-cell">
                    <h5>Department</h5>
                    <div class="row-fluid"><%= department %></div>
                </div>
                <div class="span2 info-cell">
                    <h5>Post</h5>
                    <div class="row-fluid"><%= post %></div>
                </div>
            </div>
        </div>
    </td>
</tr>