<tr class="user-additional-info" data-for="<%= login %>">
    <td colspan="4">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span1 info-cell">
                    <h5>Firstname</h5>
                    <div class="row-fluid"><input type="text" name="firstname" value="<%= firstname %>"></div>
                </div>
                <div class="span1 info-cell">
                    <h5>Lastname</h5>
                    <div class="row-fluid"><input type="text" name="lastname" value="<%= lastname %>"></div>
                </div>
                <div class="span1 info-cell">
                    <h5>Middlename</h5>
                    <div class="row-fluid"><input type="text" name="middlename" value="<%= middlename %>"></div>
                </div>
                <div class="span2 info-cell">
                    <h5>Organization</h5>
                    <div class="row-fluid"><input type="text" name="organization" value="<%= organization %>"></div>
                </div>
                <div class="span2 info-cell">
                    <h5>Department</h5>
                    <div class="row-fluid"><input type="text" name="department" value="<%= department %>"></div>
                </div>
                <div class="span1 info-cell">
                    <h5>Post</h5>
                    <div class="row-fluid"><input type="text" name="post" value="<%= post %>"></div>
                </div>
                <div class="span2 info-cell">
                    <h5>Phone</h5>
                    <div class="row-fluid"><input type="text" name="phone" value="<%= phone %>"></div>
                </div>
                <div class="span2 info-cell">
                    <h5>Resource</h5>
                    <div class="row-fluid"><input type="text" name="resource" value="<%= resource %>"></div>
                </div>
            </div>
        </div>
    </td>
</tr>